/* RESET  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* LAYOUT */
/* Overlay */
.l-overlay {
    position: absolute;
    background: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.l-overlay--close {
    display: none;
}

/* three columns grid */
.l-grid {
    flex-grow: 1;
    background-color: black;
    padding: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
@media screen and (max-width: 900px) {
    .l-grid {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 1rem;
    }
}
@media screen and (max-width: 500px) {
    .l-grid {
        padding-bottom: 60px;
    }
}
.l-grid__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.l-grid__row {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

/* COMPONETS */
/* Commons */
.c-btn {
    padding: .5rem 1rem;
    border: none;
    border-radius: 1rem;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}
.c-link {
    color: gray;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline solid gray;
}

 /* Login form */
 .c-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: 400px;
    padding: 2rem;
    border-radius: 2rem;
}
@media screen and (max-width: 900px) {
    .c-login {
        width: unset;
    }
}
.c-login__btns {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-top: .5rem;
}
.c-login__warning {
    color: #800000;
    font-weight: 900;
    line-height: 2rem;
    margin-bottom: 0;
}
.c-login__label {
    font-weight: 700;
}
.c-login__input {
    margin-left: 1rem;
}

/* Dashboards */
.c-dashboard {
    background-color: #009900;
    padding: .5rem;
    border-radius: 2rem;
}
.c-dashboard > * {
    margin: .5rem 0;
}
.c-dashboard span {
    color: black;
    font-weight: 900;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    background-color: aliceblue;
    vertical-align: middle;
}
.c-dashboard h1 {
    color: aliceblue;
}

.c-playBtn {
    font-weight: 900;
    font-size: 1.125rem;
}
@media screen and (max-width: 500px) {
    .c-playBtn {
        position: fixed;
        bottom: 0;
        left: 2.5%;
        width: 95%;
        margin: 0;
        padding-bottom: .75rem;
        background-color: aliceblue;
        color: black;
        border-radius: 1rem;
    }
}
/* Dice */
.c-dice {
    width: 100px;
    height: 100px;
    border-radius: 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    border: solid 1px black;
}

/* Dices points  */
.c-dice__point {
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-dice__point:nth-child(1) {
    grid-area: p1;
}
.c-dice__point:nth-child(2) {
    grid-area: p2;
}
.c-dice__point:nth-child(3) {
    grid-area: p3;
}
.c-dice__point:nth-child(4) {
    grid-area: p4;
}
.c-dice__point:nth-child(5) {
    grid-area: p5;
}
.c-dice__point:nth-child(6) {
    grid-area: p6;
}
.c-dice__point::after {
    content: "";
    display: block;
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* Different dices layout */
[data-number="1"] {
    grid-template-areas: 
    ". ."
    "p1 p1"
    ". .";
}
[data-number="1"] > .c-dice__point:nth-child(2),
[data-number="1"] > .c-dice__point:nth-child(3),
[data-number="1"] > .c-dice__point:nth-child(4),
[data-number="1"] > .c-dice__point:nth-child(5),
[data-number="1"] > .c-dice__point:nth-child(6) {
    display: none;
}
[data-number="2"] {
    grid-template-areas: 
    "p1 ."
    ". ."
    ". p2";
}
[data-number="2"] > .c-dice__point:nth-child(3),
[data-number="2"] > .c-dice__point:nth-child(4),
[data-number="2"] > .c-dice__point:nth-child(5),
[data-number="2"] > .c-dice__point:nth-child(6) {
    display: none;
}
[data-number="3"] {
    grid-template-areas: 
    "p1 ."
    "p3 p3"
    ". p2";
}
[data-number="3"] > .c-dice__point:nth-child(4),
[data-number="3"] > .c-dice__point:nth-child(5),
[data-number="3"] > .c-dice__point:nth-child(6) {
    display: none;
}
[data-number="4"] {
    grid-template-areas: 
    "p1 p2"
    ". ."
    "p3 p4";
}
[data-number="4"] > .c-dice__point:nth-child(5),
[data-number="4"] > .c-dice__point:nth-child(6) {
    display: none;
}
[data-number="5"] {
    grid-template-areas: 
    "p1 p2"
    "p5 p5"
    "p3 p4";
}
[data-number="5"] > .c-dice__point:nth-child(6) {
    display: none;
}
[data-number="6"] {
    grid-template-areas: 
    "p1 p2"
    "p3 p4"
    "p5 p6";
}
