/* RESET  */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
}

.container {
    flex-grow: 1;
    background-color: aliceblue;
    margin: .5rem;
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    position: relative;
}

.c-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}
.h-overlay {
    position: absolute;
    background: rgba(0, 0, 0, .8);
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.close {
    display: none;
}